body {
  margin:0px;
  background-color:rgba(230, 238, 248, 1);
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6734 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:16px;
  width:840px;
  height:675px;
  display:flex;
}
#u6734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6736 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:647px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6736_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6736.mouseOver {
}
#u6736_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6736.mouseDown {
}
#u6736_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(160, 207, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6736.disabled {
}
#u6736_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6736.mouseOver.mouseDown {
}
#u6736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6737 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:647px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6738 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:32px;
  width:100px;
  height:22px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6739 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:32px;
  width:6px;
  height:22px;
  display:flex;
}
#u6739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6740 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:166px;
  width:100px;
  height:22px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6741 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:166px;
  width:6px;
  height:22px;
  display:flex;
}
#u6741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6742 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:204px;
  width:800px;
  height:170px;
}
#u6743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u6744 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:600px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u6745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:90px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:90px;
}
#u6746 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:600px;
  height:90px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6746 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u6748 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:130px;
  width:600px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6749 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:70px;
  width:800px;
  height:80px;
}
#u6750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6751 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6752 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6753 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6755 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6756 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u6756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6757 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u6757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6758 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
}
#u6758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6759 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
}
#u6759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6760 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:394px;
  width:152px;
  height:22px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6761 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:394px;
  width:6px;
  height:22px;
  display:flex;
}
#u6761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6762 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:432px;
  width:594px;
  height:200px;
}
#u6763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:40px;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:391px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:40px;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:391px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:40px;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:80px;
  width:391px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:80px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:80px;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:120px;
  width:391px;
  height:80px;
  display:flex;
  color:#000000;
  text-align:left;
}
#u6770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0AFAF;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:481px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0AFAF;
}
#u6771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:481px;
  width:25px;
  height:25px;
  display:flex;
}
#u6772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:481px;
  width:25px;
  height:25px;
  display:flex;
}
#u6773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6774 label {
  left:0px;
  width:100%;
}
#u6774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:524px;
  width:54px;
  height:18px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6774 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6774_img.selected {
}
#u6774.selected {
}
#u6774_img.disabled {
}
#u6774.disabled {
}
#u6774_img.selected.error {
}
#u6774.selected.error {
}
#u6774_img.selected.hint {
}
#u6774.selected.hint {
}
#u6774_img.selected.error.hint {
}
#u6774.selected.error.hint {
}
#u6774_img.mouseOver.selected {
}
#u6774.mouseOver.selected {
}
#u6774_img.mouseOver.selected.error {
}
#u6774.mouseOver.selected.error {
}
#u6774_img.mouseOver.selected.hint {
}
#u6774.mouseOver.selected.hint {
}
#u6774_img.mouseOver.selected.error.hint {
}
#u6774.mouseOver.selected.error.hint {
}
#u6774_img.mouseDown.selected {
}
#u6774.mouseDown.selected {
}
#u6774_img.mouseDown.selected.error {
}
#u6774.mouseDown.selected.error {
}
#u6774_img.mouseDown.selected.hint {
}
#u6774.mouseDown.selected.hint {
}
#u6774_img.mouseDown.selected.error.hint {
}
#u6774.mouseDown.selected.error.hint {
}
#u6774_img.mouseOver.mouseDown.selected {
}
#u6774.mouseOver.mouseDown.selected {
}
#u6774_img.mouseOver.mouseDown.selected.error {
}
#u6774.mouseOver.mouseDown.selected.error {
}
#u6774_img.mouseOver.mouseDown.selected.hint {
}
#u6774.mouseOver.mouseDown.selected.hint {
}
#u6774_img.mouseOver.mouseDown.selected.error.hint {
}
#u6774.mouseOver.mouseDown.selected.error.hint {
}
#u6774_img.focused.selected {
}
#u6774.focused.selected {
}
#u6774_img.focused.selected.error {
}
#u6774.focused.selected.error {
}
#u6774_img.focused.selected.hint {
}
#u6774.focused.selected.hint {
}
#u6774_img.focused.selected.error.hint {
}
#u6774.focused.selected.error.hint {
}
#u6774_img.selected.disabled {
}
#u6774.selected.disabled {
}
#u6774_img.selected.hint.disabled {
}
#u6774.selected.hint.disabled {
}
#u6774_img.selected.error.disabled {
}
#u6774.selected.error.disabled {
}
#u6774_img.selected.error.hint.disabled {
}
#u6774.selected.error.hint.disabled {
}
#u6774_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-transform:none;
}
#u6774_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6775 label {
  left:0px;
  width:100%;
}
#u6775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u6775 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:524px;
  width:63px;
  height:18px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6775 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6775_img.selected {
}
#u6775.selected {
}
#u6775_img.disabled {
}
#u6775.disabled {
}
#u6775_img.selected.error {
}
#u6775.selected.error {
}
#u6775_img.selected.hint {
}
#u6775.selected.hint {
}
#u6775_img.selected.error.hint {
}
#u6775.selected.error.hint {
}
#u6775_img.mouseOver.selected {
}
#u6775.mouseOver.selected {
}
#u6775_img.mouseOver.selected.error {
}
#u6775.mouseOver.selected.error {
}
#u6775_img.mouseOver.selected.hint {
}
#u6775.mouseOver.selected.hint {
}
#u6775_img.mouseOver.selected.error.hint {
}
#u6775.mouseOver.selected.error.hint {
}
#u6775_img.mouseDown.selected {
}
#u6775.mouseDown.selected {
}
#u6775_img.mouseDown.selected.error {
}
#u6775.mouseDown.selected.error {
}
#u6775_img.mouseDown.selected.hint {
}
#u6775.mouseDown.selected.hint {
}
#u6775_img.mouseDown.selected.error.hint {
}
#u6775.mouseDown.selected.error.hint {
}
#u6775_img.mouseOver.mouseDown.selected {
}
#u6775.mouseOver.mouseDown.selected {
}
#u6775_img.mouseOver.mouseDown.selected.error {
}
#u6775.mouseOver.mouseDown.selected.error {
}
#u6775_img.mouseOver.mouseDown.selected.hint {
}
#u6775.mouseOver.mouseDown.selected.hint {
}
#u6775_img.mouseOver.mouseDown.selected.error.hint {
}
#u6775.mouseOver.mouseDown.selected.error.hint {
}
#u6775_img.focused.selected {
}
#u6775.focused.selected {
}
#u6775_img.focused.selected.error {
}
#u6775.focused.selected.error {
}
#u6775_img.focused.selected.hint {
}
#u6775.focused.selected.hint {
}
#u6775_img.focused.selected.error.hint {
}
#u6775.focused.selected.error.hint {
}
#u6775_img.selected.disabled {
}
#u6775.selected.disabled {
}
#u6775_img.selected.hint.disabled {
}
#u6775.selected.hint.disabled {
}
#u6775_img.selected.error.disabled {
}
#u6775.selected.error.disabled {
}
#u6775_img.selected.error.hint.disabled {
}
#u6775.selected.error.hint.disabled {
}
#u6775_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u6775_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6776_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6776_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6776_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6776 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:558px;
  width:376px;
  height:69px;
  display:flex;
}
#u6776 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6776_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6776.hint {
}
#u6776_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6776.disabled {
}
#u6776_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6776.hint.disabled {
}
#u6777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
  background:inherit;
  background-color:rgba(248, 248, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:511px;
  width:277px;
  height:20px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:20px;
  background:inherit;
  background-color:rgba(248, 248, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:371px;
  width:244px;
  height:20px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#409EFF;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:487px;
  width:236px;
  height:14px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#409EFF;
}
#u6779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:432px;
  width:193px;
  height:200px;
  display:flex;
}
#u6780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:443px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:468px;
  width:133px;
  height:20px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u6782 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6782_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:501px;
  width:84px;
  height:20px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:449px;
  width:10px;
  height:10px;
  display:flex;
}
#u6784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6785_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:59px;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:456px;
  width:2px;
  height:56px;
  display:flex;
}
#u6785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:507px;
  width:10px;
  height:10px;
  display:flex;
}
#u6786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
