body {
  margin:0px;
  background-color:rgba(230, 238, 248, 1);
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:16px;
  width:840px;
  height:675px;
  display:flex;
}
#u6672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:647px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6674_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6674.mouseOver {
}
#u6674_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6674.mouseDown {
}
#u6674_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(160, 207, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6674.disabled {
}
#u6674_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6674.mouseOver.mouseDown {
}
#u6674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:647px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:32px;
  width:100px;
  height:22px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:32px;
  width:6px;
  height:22px;
  display:flex;
}
#u6677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:166px;
  width:100px;
  height:22px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:166px;
  width:6px;
  height:22px;
  display:flex;
}
#u6679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6680 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:204px;
  width:800px;
  height:170px;
}
#u6681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u6682 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:600px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u6683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:90px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:90px;
}
#u6684 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:600px;
  height:90px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6684 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u6686 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:130px;
  width:600px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6687 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:70px;
  width:800px;
  height:80px;
}
#u6688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6689 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6690 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6691 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
}
#u6691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6693 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6694 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u6694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6695 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u6695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6696 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
}
#u6696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6697 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
}
#u6697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6698 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:394px;
  width:152px;
  height:22px;
  display:flex;
  font-family:'苹方-简 中黑体', '苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515A6E;
}
#u6698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6699 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:394px;
  width:6px;
  height:22px;
  display:flex;
}
#u6699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6700 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:432px;
  width:800px;
  height:200px;
}
#u6701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:600px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:600px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:80px;
  width:600px;
  height:40px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u6706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:80px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
}
#u6707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:80px;
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:120px;
  width:600px;
  height:80px;
  display:flex;
  color:#000000;
  text-align:left;
}
#u6708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0AFAF;
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:481px;
  width:25px;
  height:25px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#B0AFAF;
}
#u6709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:481px;
  width:25px;
  height:25px;
  display:flex;
}
#u6710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:481px;
  width:25px;
  height:25px;
  display:flex;
}
#u6711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6712 label {
  left:0px;
  width:100%;
}
#u6712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:524px;
  width:54px;
  height:18px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6712 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6712_img.selected {
}
#u6712.selected {
}
#u6712_img.disabled {
}
#u6712.disabled {
}
#u6712_img.selected.error {
}
#u6712.selected.error {
}
#u6712_img.selected.hint {
}
#u6712.selected.hint {
}
#u6712_img.selected.error.hint {
}
#u6712.selected.error.hint {
}
#u6712_img.mouseOver.selected {
}
#u6712.mouseOver.selected {
}
#u6712_img.mouseOver.selected.error {
}
#u6712.mouseOver.selected.error {
}
#u6712_img.mouseOver.selected.hint {
}
#u6712.mouseOver.selected.hint {
}
#u6712_img.mouseOver.selected.error.hint {
}
#u6712.mouseOver.selected.error.hint {
}
#u6712_img.mouseDown.selected {
}
#u6712.mouseDown.selected {
}
#u6712_img.mouseDown.selected.error {
}
#u6712.mouseDown.selected.error {
}
#u6712_img.mouseDown.selected.hint {
}
#u6712.mouseDown.selected.hint {
}
#u6712_img.mouseDown.selected.error.hint {
}
#u6712.mouseDown.selected.error.hint {
}
#u6712_img.mouseOver.mouseDown.selected {
}
#u6712.mouseOver.mouseDown.selected {
}
#u6712_img.mouseOver.mouseDown.selected.error {
}
#u6712.mouseOver.mouseDown.selected.error {
}
#u6712_img.mouseOver.mouseDown.selected.hint {
}
#u6712.mouseOver.mouseDown.selected.hint {
}
#u6712_img.mouseOver.mouseDown.selected.error.hint {
}
#u6712.mouseOver.mouseDown.selected.error.hint {
}
#u6712_img.focused.selected {
}
#u6712.focused.selected {
}
#u6712_img.focused.selected.error {
}
#u6712.focused.selected.error {
}
#u6712_img.focused.selected.hint {
}
#u6712.focused.selected.hint {
}
#u6712_img.focused.selected.error.hint {
}
#u6712.focused.selected.error.hint {
}
#u6712_img.selected.disabled {
}
#u6712.selected.disabled {
}
#u6712_img.selected.hint.disabled {
}
#u6712.selected.hint.disabled {
}
#u6712_img.selected.error.disabled {
}
#u6712.selected.error.disabled {
}
#u6712_img.selected.error.hint.disabled {
}
#u6712.selected.error.hint.disabled {
}
#u6712_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-transform:none;
}
#u6712_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6713 label {
  left:0px;
  width:100%;
}
#u6713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:524px;
  width:63px;
  height:18px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6713 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u6713_img.selected {
}
#u6713.selected {
}
#u6713_img.disabled {
}
#u6713.disabled {
}
#u6713_img.selected.error {
}
#u6713.selected.error {
}
#u6713_img.selected.hint {
}
#u6713.selected.hint {
}
#u6713_img.selected.error.hint {
}
#u6713.selected.error.hint {
}
#u6713_img.mouseOver.selected {
}
#u6713.mouseOver.selected {
}
#u6713_img.mouseOver.selected.error {
}
#u6713.mouseOver.selected.error {
}
#u6713_img.mouseOver.selected.hint {
}
#u6713.mouseOver.selected.hint {
}
#u6713_img.mouseOver.selected.error.hint {
}
#u6713.mouseOver.selected.error.hint {
}
#u6713_img.mouseDown.selected {
}
#u6713.mouseDown.selected {
}
#u6713_img.mouseDown.selected.error {
}
#u6713.mouseDown.selected.error {
}
#u6713_img.mouseDown.selected.hint {
}
#u6713.mouseDown.selected.hint {
}
#u6713_img.mouseDown.selected.error.hint {
}
#u6713.mouseDown.selected.error.hint {
}
#u6713_img.mouseOver.mouseDown.selected {
}
#u6713.mouseOver.mouseDown.selected {
}
#u6713_img.mouseOver.mouseDown.selected.error {
}
#u6713.mouseOver.mouseDown.selected.error {
}
#u6713_img.mouseOver.mouseDown.selected.hint {
}
#u6713.mouseOver.mouseDown.selected.hint {
}
#u6713_img.mouseOver.mouseDown.selected.error.hint {
}
#u6713.mouseOver.mouseDown.selected.error.hint {
}
#u6713_img.focused.selected {
}
#u6713.focused.selected {
}
#u6713_img.focused.selected.error {
}
#u6713.focused.selected.error {
}
#u6713_img.focused.selected.hint {
}
#u6713.focused.selected.hint {
}
#u6713_img.focused.selected.error.hint {
}
#u6713.focused.selected.error.hint {
}
#u6713_img.selected.disabled {
}
#u6713.selected.disabled {
}
#u6713_img.selected.hint.disabled {
}
#u6713.selected.hint.disabled {
}
#u6713_img.selected.error.disabled {
}
#u6713.selected.error.disabled {
}
#u6713_img.selected.error.hint.disabled {
}
#u6713.selected.error.hint.disabled {
}
#u6713_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u6713_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6714_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6714_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6714_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:558px;
  width:582px;
  height:69px;
  display:flex;
}
#u6714 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6714_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714.hint {
}
#u6714_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714.disabled {
}
#u6714_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:69px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714.hint.disabled {
}
#u6715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
  background:inherit;
  background-color:rgba(248, 248, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:511px;
  width:277px;
  height:20px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:20px;
  background:inherit;
  background-color:rgba(248, 248, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:371px;
  width:244px;
  height:20px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#409EFF;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:487px;
  width:236px;
  height:14px;
  display:flex;
  font-family:'.苹方-简 中黑体', '.苹方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#409EFF;
}
#u6717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6717_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
